<!DOCTYPE Html>
<html lang="en">
<head>
    <noscript>
        For full functionality of this site it is necessary to enable JavaScript.
        Here are the <a href="https://www.enable-javascript.com/" target="_blank">
            instructions how to enable JavaScript in your web browser
        </a>.
    </noscript>
    <title>Video Game Blog</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="tags.css"
          rel="stylesheet"
          type="text/css" />
</head>

<body>

    <center><h1>Pending Posts:</h1></center>
</body>